body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    background-color: #71797E;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar a,
.sidebar button { /* Apply styles to both links and buttons */
  background-color: #F5F5DC;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
   /* display: block;  */
  margin-top: 20px;
}

.sidebar a:hover,
.sidebar button:hover {
  background-color: #F5F5DC;
}
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #FCF5E5;
  }
  
  .main-content h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .img-container{
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center elements */
    margin-bottom: 50px;
  }
  
  .candidate-group {
    margin-bottom: 20px;
  }
  
  .candidate {
    display: inline-block;
    margin-right: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007bff;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
